<div *ngIf="userIsAdmin" class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-home"></i>
            </span> Dashboard
        </h3>
    </div>

    <div class="row">
        <!-- Make it a link to the Project -->
        <div class="col-md-4 stretch-card grid-margin tyt-cursor-pointer" *ngFor="let project of projects"
            (click)="navigateTo('projects', project.id)">
            <div class="card bg-gradient-info card-img-holder text-white">
                <div class="card-body">
                    <h4 class="font-weight-normal mb-3">{{project.name}}
                        <i class="mdi mdi-more mdi-24px float-right"></i>
                    </h4>
                    <h6 *ngFor="let task of project.Tasks" class="card-text">
                        <p><i class="mdi mdi-message-reply mdi-22px"></i> {{task.name}}</p>
                    </h6>
                </div>
            </div>
        </div>
        <!-- USERS Part -->
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Users Info</h4>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th> Photograph </th>
                                    <th> Name </th>
                                    <th> Family Name </th>
                                    <th> Created At </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="tyt-cursor-pointer" *ngFor="let user of users"
                                    (click)="navigateTo('users', user.id)">
                                    <td class="py-1">
                                        <img [src]="'../../assets/images/faces/face' +user.id+'.jpg'" alt="image" />
                                    </td>
                                    <td>{{user.firstName}}</td>
                                    <td>{{user.lastName}}</td>
                                    <td>{{user.createdAt | date}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TASKS Part -->
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tasks Info</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> # </th>
                                    <th> Name </th>
                                    <th> Created At </th>
                                    <th> Status </th>
                                    <th> Total Hours </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let task of tasks">
                                    <td>{{task.id}}</td>
                                    <td>{{task.name}}</td>
                                    <td>{{task.createdAt | date}}</td>
                                    <td>{{task.status}}</td>
                                    <td>{{task.timeCalculated | number: '1.1-2'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!userIsAdmin" class="row">
    <div class="col-md-10 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <h4 class="card-title">User Information</h4>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="table-primary">
                                <th class="cabecera">Name</th>
                                <th class="cabecera">Family Name</th>
                                <th class="cabecera">E-Mail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{user?.firstName}}</td>
                                <td>{{user?.lastName}}</td>
                                <td>{{user?.email}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-10 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ user?.firstName}} {{user?.lastName}} - Information</h4>
                <div class="table-responsive">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th> Task Name </th>
                                <th> Started At </th>
                                <th> Ended At </th>
                                <th> Progress </th>
                                <th> Total Hours </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let currentUserTask of currentUserTasks">
                                <td> {{currentUserTask?.name}} </td>
                                <td> {{currentUserTask?.updatedAt | date: 'short'}} </td>
                                <td> {{currentUserTask?.status}}</td>
                                <td>
                                </td>
                                <td>{{currentUserTask?.timeCalculated | number: '1.1-2'}} H</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>