<nav class="sidebar sidebar-offcanvas top-margin" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="assets/images/faces/face1.jpg" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">David Grey. H</span>
                    <span class="text-secondary text-small">Project Manager</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="home">
                <span class="menu-title">Home</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false"
                aria-controls="ui-basic">
                <span class="menu-title">Projects</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" routerLink="projects">All Projects</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" routerLink="tasks/create">Create a Task</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="users">
                <span class="menu-title">Users</span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
        </li>
        <li class="nav-item sidebar-actions" *ngIf="userIsAdmin">
            <span class="nav-link">
                <div>
                    <button class="btn btn-block btn-lg btn-gradient-primary mt-4" routerLink="projects/create">Add
                        Project</button>
                </div>
                <div class="mt-4">
                </div>
            </span>
        </li>
        <li class="nav-item sidebar-actions">
            <span class="nav-link">
                <div>
                    <button class="btn btn-block btn-lg btn-gradient-info mt-4" routerLink="users/create">Create
                        User</button>
                </div>
                <div class="mt-4">
                </div>
            </span>
        </li>
    </ul>
</nav>