<div class="container-scroller">
        <app-top-nav></app-top-nav>
    <div class="container-fluid page-body-wrapper">
        <app-sidebar></app-sidebar>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <app-footer></app-footer>
            <!-- partial -->
        </div>
    </div>
</div>
<!-- Information About other components -->