<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Modify Project</h4>

            <form class="login-form" *ngIf="form" [formGroup]="form">
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg" formControlName="name"
                        >
                </div>
                <button class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn"
                    (click)="updateProject()" [disabled]="!projectName" >Modify</button>
            </form>
        </div>
    </div>
</div>