<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create New Project</h4>

            <form class="login-form" *ngIf="form" [formGroup]="form">
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg" formControlName="name"
                        placeholder="Project Name">
                </div>
                <button class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn"
                    (click)="createNewProject()" [disabled]="!form.valid">Add New Project</button>
            </form>
        </div>
    </div>
</div>